body {
    /*text-align: center;*/
    background-size: cover;
    color: white;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(151, 0, 0, 0.582);
  }
#menu-box {
    position: absolute;
    top: 14%;
    left: 10%;
    right: 10%;
    width: 80%;
    line-height: .5;
  }
.name {
    font-size: 5rem;
    line-height: 1.1;
    text-shadow: 0 3px px rgba(210, 14, 14, 0.8);
    position: relative;
    margin: 0;
    font-style: italic;
    top: 14%;
    left: 4%;
    right: 10%;
    width: 80%;
    
    
    } 
    .name:before {
        content: "----*";
        top: .25em;
        left: -.5em;
      }
      .name:after {
        content: "*----";
        margin-left: .1em;
        top: .25em;
        
      }
    .title {
        font-size: 5rem;
        line-height: 1.1;
        text-shadow: 0 3px px rgba(210, 14, 14, 0.8);
        position: relative;
        margin: 0;
        font-style: normal;
        font-weight: bolder;
        top: 14%;
        left: 10%;
        right: 10%;
        width: 80%;
        
        
        } 
        .title:before {
            content: "";
            top: .25em;
            left: -.5em;
          }
          .title:after {
            content: "";
            margin-left: .1em;
            top: .25em;
            
          }
        .item{
            font-size: 5rem;
            line-height: 1.1;
            text-shadow: 0 3px px rgba(210, 14, 14, 0.8);
            position: relative;
            margin: 0;
            font-style: oblique;
            
            top: 14%;
             left: 9%;
             right: 10%;
             width: 80%;
            
            } 
            .price {
                font-size: 5rem;
                line-height: 1.1;
                text-shadow: 0 3px px rgba(210, 14, 14, 0.8);
                position: relative;
                margin: 0;
                font-style: oblique;
                
                top: 14%;
                left: 15%;
                right: 10%;
                width: 80%;

                
                } 
                .count {
                    font-size: 5rem;
                    line-height: 1.1;
                    text-shadow: 0 3px px rgba(210, 14, 14, 0.8);
                    position: relative;
                    margin: 0;
                    
                    
                    top: 14%;
                    left: 10%;
                    right: 10%;
                    width: 80%;
                    } 
#img-box {
    position:absolute;
    top: 10%;
    left: 55%;
    right: 10%;
    width: 30%;
    
}                     
                    
        
    #loadName {
        font-size: 2.5rem;;
        position: fixed;
        width: 7em;
        display: inline-block;
        left: 60%;
        margin-left: -6em;
        bottom: 165px;
        border-radius: 4px;
        border: 2px solid #fff;
        color: #fff;
        background-color: rgba(255,255,255, 0);
        padding: 15px 0;
        transition: .5s ;
      }
      #loadName:hover {
        background-color: rgba(255,255,255,.25);
       
      }
      #loadName:focus {
        outline: none;
      }
    
